# CORREIOS
CORREIOS_USUARIO=seu_usuario
CORREIOS_SENHA=sua_senha
CORREIOS_COD_ADMIN=seu_codigo_administrativo
CORREIOS_CARTAO=seu_cartao
CORREIOS_NUMERO_CONTRATO=seu_contrato

# DESTINATARIO
DESTINATARIO_NOME="SUA EMPRESA"
DESTINATARIO_LOGRADOURO="SUA RUA"
DESTINATARIO_NUMERO="123"
DESTINATARIO_COMPLEMENTO="SALA 1"
DESTINATARIO_BAIRRO="SEU BAIRRO"
DESTINATARIO_CIDADE="SUA CIDADE"
DESTINATARIO_UF="SP"
DESTINATARIO_CEP="00000000"
DESTINATARIO_DDD="11"
DESTINATARIO_TELEFONE="00000000"
DESTINATARIO_EMAIL="seuemail@empresa.com"
DESTINATARIO_CNPJ="00000000000000"

# DIGISAC
DIGISAC_API_TOKEN=seu_token_api
DIGISAC_WHATSAPP_SERVICE_ID=seu_service_id
DIGISAC_WHATSAPP_USER_ID=seu_user_id
